<html>
    <head>
        <title>I am Tung.</title>
        <link href="/assets/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Hello Fellows!</h1>
        <form method="POST" action="/login">
            UserName: <input type="text" name="username" />
            <br/>
            Password: <input type="text" name="password" />
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>