<html>
    <head>
        <title>I am Tung.</title>
        <link href="/assets/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Nice to meet you!</h1>
        <h1>User: <%= ID %></h1>
    </body>
</html>